* {
    margin: 0;
    padding: 0;
}

body {


    background-position-x: 0;
}

header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}

nav, footer{
    background-color: rgb(156, 122, 80);
    color: rgb(218, 218, 190);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}

#nombre {
    font-size: 1.3rem;


}

.listaNav {
    display: inline-flex;
    text-align: center;
    margin-left: 1em;
    margin-right: 17em;
    

}

ul {
    list-style: none;


}

li {
    margin-right: 2em;
    font-size: 1.3rem;
    color: cornsilk;
}

a {
    text-decoration: none;
}

.linea {
    display: inline-block;
    display: inline-flex;

}


#banner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

    height: 22rem;
    width: 100%;
    padding: 1rem;
    background-image: url(https://st4.depositphotos.com/8543466/i/600/depositphotos_251412726-stock-photo-color-papers-geometry-composition-background.jpg);
    background-repeat: round;

}

#foto {
    width: 260px;
    border-radius: 160px;
}

#sobreMi {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}



#redesUl {

    display: flex;
}

#footerSection {
    text-align: center;
}
a:link{
    color: cornsilk;
}
a:visited{
    color: cornsilk;
}
a:hover{
    opacity: 0.7;
}
.card{
    margin: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    border: 1px solid burlywood;
    border-radius: 16px;
    text-align: center;
    font-size: 1.2rem;
    box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;
    

}
h1{
    margin: 1.2rem;
    font-family: ;
    
}
.textSobremi{
    margin-bottom: 1.2rem ;
    font-size: larger;
    

}